/*********************************Prerequisites*********************************/
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-third: #4F4F52;
  --blue-one: #ADB5C1;
  --blue-two: #0C3FB7;
  --blue-three: #33A7D6;
  --transition-speed: 1s;
}
body {
  background: var(--bg-third);
  height: 100vh;
  overflow: hidden;
  vertical-align: middle;
}
.contact-tittle
{
  position: relative;
  background: var(--bg-secondary);
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0 auto;
}
.contact-title h1
{
  font-size: 50px;
  text-align: center;
  padding: 30px 0px 0px 0px;
  color: var(--text-primary);
  margin-bottom: -10px;
  margin-top: 0;
}
.contact-title h2
{
  text-align: center;
  padding: 0px 0px 35px 0px;
  color: var(--text-primary);
}
form
{
  margin-top: 0px;
  transition: all 4s ease-in-out;
	background: var(--bg-third);
  overflow: hidden;
  vertical-align: middle;
}
.contact-form
{
  position: relative;
  background: var(--bg-third);
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0 auto;
}
/*************************************************************/
.form-control
{
  width: 300px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
}


/*************************************************/
input
{
  height: 45px;
}
form .submit
{
	width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;

  color: var(--text-primary);
  background: var(--bg-secondary);
  border-color: var(--bg-secondary);

  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: var(--text-primary);
  transition: 3s;
}
.goback_link {
  margin: 30px 0px 30px 0px;
  text-align: center;
  font-size: 16px;
  color: var(--text-primary);
}
.goback_link a {
  color: var(--blue-three);
  text-decoration: none;
}
.goback_link a:hover {
  text-decoration: underline;
}

.container
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color:#fff;
}
.container .contactInfo
{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box
{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon
{
  min-width:45px;
  height: 45px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  font-size: 22px;
}
.container .contactInfo .box .icon
{
  display: flex;
  margin-left: 20px;
  font-size:30px;
  color:#342;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text
{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
  flex-direction: column;
  color:#fff;
	font weight: 300;
}
.container .contactInfo .box .text h3
{
	font weight: 500;
  color:#00bcd4;
}
