/* Prerequisites */
:root {
    /*font-size: 16px;
    font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --blue-one: #ADB5C1;
  --blue-two: #0C3FB7;
  --blue-three: #33A7D6;
  --transition-speed: 1s;*/
}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  color: white;
  background: var(--blue-two);
  text-align: center;
}

/* Buttons inside month header */
.month .prev {
  width: 33%;
  text-align: left;
  padding-top: 10px;
}

.monthandyear {
  width: 33%;
  text-align: center;
  padding-top: 10px;
}

/* Next button */
.month .next {
  width: 33%;
  text-align: right;
  padding-top: 10px;
}

.dayofweek {
  height: 20px;
  border: solid black 1px;
}

/* Weekdays (Mon-Sun) */
.weekday {
  margin: 0;
  padding: 10px 0;
  background-color: white;
  text-align: center;
}

/* Days (1-31) */
.day {
  margin: 0px;
  background: white;
  width: 14.2857142857%;
  height: 80px;
  text-align: left;
  vertical-align: top;
  border: solid black 1px;
}

.day:hover {
  background-color: green;
}

.currentday {
  margin: 0px;
  background: white;
  width: 14.2857142857%;
  height: 80px;
  text-align: left;
  vertical-align: top;
  border: solid black 1px;

  background-color: blue;
}

.currentday:hover {
  /*background-color: blue;*/
}

.selectedday {
  margin: 0px;
  background: white;
  width: 14.2857142857%;
  height: 80px;
  text-align: left;
  vertical-align: top;
  border: solid black 1px;

  background-color: red;
}

.selectedday:hover {
  /*background-color: red;*/
}

.calendar {
  width: 100%;
  height: 100%;
  border: solid black 1px;
  border-collapse: collapse;
}

.reset {
  margin: 5px, 0px, 0px, 0px;
  background: var(--blue-two);
}

.tasks {
  width: 100%;
  border:solid black 1px;
  height: 100%;
}