

/*********************************Prerequisites*********************************/
span {
    font-size: 1.2rem;
}

/*********************************Profile*********************************/
.profile {
    color: var(--text-primary);
    background: var(--bg-third);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*********************************Profile Picture Box*********************************/
.profilebox {
    background: var(--bg-secondary);
    text-align: center;
    max-width: 60%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 10px;
    margin: 0rem auto 0rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.profilepic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    display: block;
}
.profilename {
    font-size: 1.2em;
    font-weight: bold;
}
.profiletitle {
    margin-bottom: 20px;
}
.profiledetail {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}
.edit {
    margin-right: 1rem;
    margin-left: auto;
    display: block;
    text-align: center;
    color: var(--text-primary);
    border-color: var(--text-primary);
    border-radius: 0.5rem;
    background-color: transparent;
    transition: all .5s ease;
    cursor: pointer;
    width: 4rem;
    height: 2rem;
}
.edit:hover {
    color: black;
    background-color: var(--text-primary);
}

/*********************************Profile Information*********************************/
.profileinfo {
    max-width: 60%;
    margin: 0 auto;
}
.info {
    background: var(--bg-primary);
    margin-top: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-width: 100%;
    height: 100%;
    line-height: 100px;
}
.infoleft {
    text-align: left;
    width: 30%;
    padding-left: 1rem;
}
.inforight {
    text-align: left;
    width: 70%;
    padding-left: 1rem;
    line-height: 25px;
}

/*********************************Email*********************************/
.email_link {
  color: var(--blue-three);
  text-decoration: none;
}
.email_link:hover {
  text-decoration: underline;
}

/*********************************Small Screens*********************************/
@media only screen and (max-width: 600px) {
    .profile {
        margin-bottom: 80px;
        padding: 0;
    }
    .profilebox {
        max-width: 100%;
        border-radius: 0;
    }
    .profileinfo {
        max-width: 100%;
        margin: 0 auto 0 auto;
    }
    .info {
        margin: 0;
        border-bottom: 1px solid black;
        border-radius: 0;
    }
    span {
        font-size: 0.9rem;
    }
}

/*********************************Large Screens*********************************/
@media only screen and (min-width: 800px) {
  
}