

/*********************************Prerequisites*********************************/
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-third: #4F4F52;
  --blue-three: #33A7D6;
}
body {
  background: var(--bg-third);
  height: 100vh;
  overflow: hidden;
  vertical-align: middle;
}
h1 {
  cursor: default;
}
h2 {
  cursor: default;
}
form {
  cursor: default;
}
::placeholder {
  color: var(--text-primary);
}

/**********************************Containers**********************************/
.upper_container {
  position: relative;
  background: var(--bg-secondary);
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0 auto;
}
.upper_container h1 {
  font-size: 50px;
  text-align: center;
  padding: 30px 0px 0px 0px;
  color: var(--text-primary);
  margin-bottom: -10px;
  margin-top: 0;
}
.upper_container h2 {
  text-align: center;
  padding: 0px 0px 35px 0px;
  color: var(--text-primary);
}
.lower_container {
  width: 400px;
  margin: 0 auto;
  background: var(--bg-primary);
  border-radius: 10px;
  padding-bottom: 30px;
}
.lower_container form {
  padding: 0px 40px 0px 40px;
  box-sizing: border-box;
}

/***************************Username & Password Input***************************/
form {
  margin-top: 0;
}
form .text_area {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 0 0 30px 0;
}
.text_area input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;

  border: none;
  background: none;
  outline: none;
}
.text_area label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: var(--text-primary);
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.8s;
}
/*.text_area input:focus ~ label,
.text_area input:valid ~ label {
  top: -5px;
}*/

/*********************************Login Button*********************************/
input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;

  color: var(--text-primary);
  background: var(--bg-secondary);
  border-color: var(--bg-secondary);

  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover {
  border-color: var(--text-primary);
  transition: 3s;
}

/************************************Signup************************************/
.signup_link {
  margin: 30px auto;
  text-align: center;
  font-size: 16px;
  color: var(--text-primary);
}
.signup_link a {
  color: var(--blue-three);
  text-decoration: none;
}
.signup_link a:hover {
  text-decoration: underline;
}

/*********************************Small Screens*********************************/
@media only screen and (max-width: 600px) {
  body {
    background: var(--bg-primary);
    max-width: 100%;
    margin: 0 auto 0 auto;
    overflow: auto;
  }
  .lower_container {
    width: 100%;
    border-radius: 0;
  }
  .upper_container {
    border-radius: 0;
  }
}

/*********************************Large Screens*********************************/
@media only screen and (min-width: 600px) {
  
}