

/*********************************Prerequisites*********************************/
body {
  background: var(--bg-third);
  height: 100%;
  overflow: hidden;
}
button {
  padding: 0.5em 3em;
  text-align: center;
  color: var(--text-primary);
  border-color: var(--text-primary);
  border-radius: 0.5rem;
  background-color: transparent;
  transition: all .5s ease;
  cursor: pointer;
  width: 8rem;
}
button:hover {
  color: black;
  background-color: var(--text-primary);
}
a {
  cursor: pointer;
  color: var(--text-primary);
  border-color: var(--text-primary);
}
a:hover {
  color: black;
}
h1 {
  cursor: default;
}
h2 {
  cursor: default;
}
form {
  cursor: default;
}

/**********************************Containers**********************************/
.upper_container {
  position: relative;
  background: var(--bg-secondary);
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0 auto;
}
.upper_container h1 {
  font-size: 50px;
  text-align: center;
  padding: 30px 0px 0px 0px;
  color: var(--text-primary);
  margin-bottom: -10px;
  margin-top: 0;
}
.upper_container h2 {
  text-align: center;
  padding: 0px 0px 35px 0px;
  color: var(--text-primary);
}
.lower_container {
  width: 400px;
  margin: 50rem auto;
  background: var(--bg-primary);
  border-radius: 10px;
  padding-bottom: 30px;
}
.lower_container form {
  padding: 0px 40px 0px 40px;
  box-sizing: border-box;
}
.reset {
  width: 2rem;
  padding: 0.2rem 0 0 0;
  margin: 1rem 0 0 1rem;
}

/***************************Email Input***************************/
form .text_area {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.text_area input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;

  border: none;
  background: none;
  outline: none;
}
.text_area label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: var(--text-primary);
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.8s;
}
.text_area input:focus ~ label,
.text_area input:valid ~ label {
  top: -5px;
}
.info_text {
  color: var(--text-primary);
}
.info_text:hover {
  color: var(--text-primary);
}

/*********************************Confirm Email Button*********************************/
input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;

  color: var(--text-primary);
  background: var(--bg-secondary);
  border-color: var(--bg-secondary);

  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover {
  border-color: var(--text-primary);
  transition: 3s;
}

/*********************************Small Screens*********************************/
@media only screen and (max-width: 800px) {
	.lower_container {
	  width: 90%;
	}
}

/*********************************Small Screens*********************************/
@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
    margin: 0 auto 0 auto;
    overflow: auto;
  }
  .lower_container {
    width: 100%;
    border-radius: 0;
  }
  .upper_container {
    border-radius: 0;
  }
}

/*********************************Large Screens*********************************/
@media only screen and (min-width: 600px) {
  
}